{% extends "layout.html" %}
{% block content %}
	<div class="content-section card p-4">
	  <div class="media">
		<img class="rounded-circle account-img" src="{{ image_file }}">
		<div class="media-body">
		  <h2 class="account-heading">{{ user.username }}</h2>
		  <p class="text-secondary">{{ user.email }}</p>
		</div>
	  </div>
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Account Information</legend>
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}
					
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span> {{ error }} </span>
							{% endfor %}
					{% else %}
						{{ form.username(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}
					
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span> {{ error }} </span>
							{% endfor %}
					{% else %}
						{{ form.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.picture.label(class="form-control-label") }}
					{{ form.picture(class="form-control-file") }}
					{% if form.picture.errors %}
							{% for error in form.picture.errors %}
								<span class="text-danger"> {{ error }} </span></br>
							{% endfor %}						
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
				<a class="btn btn-outline-warning" href="{{ url_for('admin_change_password', username=user.username) }}">Change Password</a>
			</div>
		</form>
	</div>
{% endblock content %}